body,.container{
    background-color: #24353f;
}
h1{
 color:  #17a2b8;
 font-size:2.5rem;
}

.form-control{
    --bs-body-color:white;
--bs-form-control-bg:transparent;
}
a{
 text-decoration: none;
 color: aliceblue;
}

